@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "聯絡資訊";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Xiaoyao<br />
    National Taichung University of Science and Technology.<br />
    <abbr title="Phone">Phone:</abbr>
    0988622012
</address>

<address>
    <strong>Support:</strong> <a href="mailto:ivan88217@gmail.com">ivan88217@gmail.com</a><br />
</address>
